<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<form action="/login" method="POST">
    <td>
        UserName:
        <input type="text" name="un">
    </td>
    <br>
    <td>
        Password:
        <input type="password" name="pw">
    </td>
    <br>
    <td>
        Submit:
        <input type="submit" value="Submit">
    </td>
</form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {{ messages[0] }}
    {% endif %}
{% endwith %}
</body>
</html>