<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add category</title>
</head>
<body>
<h1>
    <center>Welcome</center>
</h1>
<form action="/admin/insert_category" method="POST"
      onsubmit="admin_insert_category()">
    Enter Category Name<input type="text" id="categoryName"
                              name="categoryName"><br><br>
    Enter Category Discription<input type="textarea" id="categoryDescription"
                                     name="categoryDescription"><br><br>
    <input type="submit" value="submit">
</form>
</body>
</html>