<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit SubCategory</title>
</head>
<body>
<h1>Edit Update Page</h1>
<form action="/admin/update_subcategory" method="POST">
    {% for i in data %}
        <table>
            <tr>
                <td>
                    SubCategoryName:
                </td>
                <td>
                    <input type="text" name="subcategoryName"
                           value="{{ i['subcategory_name'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    Description:
                </td>
                <td>
                    <textarea
                            name="subcategoryDescription">{{ i['subcategory_description'] }}</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Submit:
                    <input type="submit" value="Submit">
                    <input type="hidden" name="subcategoryId"
                           value="{{ i['subcategory_id'] }}">
                </td>
            </tr>

        </table>
    {% endfor %}
</form>
</body>
</html>