<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>
    <center>Welcome</center>
</h1>
<a href="/admin/load_category">Add Category</a>
<br>
<a href="/admin/view_category">View Category</a>
<br>
<a href="/admin/load_subcategory">Add SubCategory</a>
<br>
<a href="/admin/view_subcategory">View SubCategory</a>
<br>
<a href="/admin/load_product">Add Product</a>
<br>
<a href="/admin/view_product">View Product</a>
</body>
</html>